.App {
  text-align: center;
  background-color: blue;
  width: 100vh;
  height: 100vh;
}

.text-editor {
  width: 50vw;
  height: 10vh;
  background-color: red;
  display: inline-block;
}

.landing {
  background-color: purple;
  width: 100px;
  height: 100px;
}